@font-face{
  font-family: Montserrat semi-bold;
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}


@import "tailwindcss";

@theme{
  --font-Montserrat-semi-bold: 'Montserrat semi-bold', sans-serif;
}
